.suros-gradient {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(65, 29, 33, 1) 0%,
    rgba(19, 20, 27, 1) 45%,
    rgba(20, 46, 79, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
}
